* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter, Helvetica, sans-serif;
}


.content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 100;
}
.cursor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #f9bd4d32;
  box-shadow: 0px 0px 100px #f9bd4d23;
  border-radius: 50%;
  /* border: 1px solid #f9be4d; */
  z-index: -1;
}
.cursor2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 700px;
  background-color: #f9bd4d36;
  box-shadow: 0px 0px 100px #f9bd4d08;
  border-radius: 50%;
  filter: blur(100px);
  z-index: -1;
}
img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
body {
  background-color: #f5ecda;
  overflow-x: hidden;
}

header {
  position: sticky;
  top: 0;
  z-index: 6;
}

.topNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  background-color: #325633;
}

.navbarEmailPhone {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.navbarEmailPhone img {
  width: 20px;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-inline: 30px;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbarOption {
  position: relative;
  gap: 50px;
  display: flex;
}

.navbar button {
  cursor: pointer;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: 0px;
  background-color: #d9d9d9;
  transition: 200ms;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
}

.navbar button:hover {
  filter: brightness(0.8);
}

.bannerArea {
  background-color: #fff;
  object-fit: cover;
  z-index: 99;
  position: relative;
}

.bannerArea img {
  object-fit: cover;
  width: 100vw;
  height: 800px;
  object-position: top;
  filter: brightness(0.5);
}

.aboutAcademy {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  align-items: center;
  margin-top: 40px;
  gap: 50px;
  place-content: center;
  position: relative;
}

.aboutContent {
  width: 44vw;
  padding-left: 20px;
  place-self: end;
}

.aboutContent h1 {
  font-family: "Bevan";
  font-size: 34px;
  font-weight: 400;
}

.aboutContent p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-align: justify;
}

.objective {
  display: flex;
  /* flex-direction: column; */
  padding: 20px ;
  margin:20px 0 20px 0;
  overflow: hidden;
  place-content:space-evenly;
}

.objective h1 {
  font-family: "Bevan", cursive;
  font-size: 40px;
  text-align: center;
  align-self: center;
}

.armyObjective {
  margin: 20px;
}

.armyObjective img {
  width: 90vw;
  /* filter: brightness(0.8); */
}

.armyObjective h1 {
  margin-top: -71px;
  padding: 20px;
  font-size: 28px;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 0px;
  z-index: 2;
  position: relative;
}

.policeObjective {
  margin: 20px;
  width: 95vw;
  display: flex;
  scroll-snap-type: x mandatory;
  flex-direction: row;
  overflow: scroll;
  gap: 10px;
  align-self: center;
}

.policeObjective > span {
  flex-shrink: 0;
  scroll-snap-align: start;
}

.policeObjective span h1 {
  margin-top: -71px;
  padding: 20px;
  font-size: 28px;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 0px;
  z-index: 2;
  position: relative;
}

.policeObjective img {
  width: 40vw;
  /* filter: brightness(0.8); */
}

@media screen and (max-width: 1000px) {
  .aboutAcademy {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .aboutContent {
    place-self: center;
    padding-left: 0px;
    width: 70vw;
  }
  .sidenav {
    width: 100%;
    z-index: 10;
    position: relative;
    backdrop-filter: blur(4px);
  }
  .navbarOption {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .aboutImage img {
    height: 50vh;
  }
  .aboutContent {
    width: 90vw;
    padding-left: 0px;
  }

  .navbarOption {
    display: none;
  }

  .armyObjective {
    margin: 10px;
  }

  .policeObjective {
    margin: 10px;
    display: initial !important;
    text-align: center !important;
  }

  .sidenav {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .topNavbar {
    flex-direction: column;
  }

  .aboutImage img {
    height: 60vh;
  }
  .rtin-title {
    font-size: 12px !important;
  }
}

.OPEN {
  display: none;
}

.sidenav {
  /* display: none; */
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  /* background-color: #111; */
  background-color: #11111194;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-width: 1000px) {
  .OPEN {
    display: block;
    padding: 10px;
  }
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 38px;
    transform: scale(1);
    transition: 0.3s;
  }
  .sidenav a:hover {
    transform: scale(1.4);
  }
  .cursor2 {
    display: none;
  }
}

grid-wrapper > img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

/* Main CSS */
.grid-wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-wrapper > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 17px;
}

.grid-wrapper {
  margin: 20px;
  width: 95vw;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}
.grid-wrapper .wide {
  grid-column: span 2;
}
.grid-wrapper .tall {
  grid-row: span 2;
}
.grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}

.nav-list {
  display: flex;
  float: right;
  align-items: center;
}

.nav-list > button {
  margin: 35px;
  color: white;
  background-color: #37c13b;
}

.navbarOption > a {
  color: f1f1f1;
}

.navbarEmailPhone > a {
  color: white;
}

.navbarEmailPhone > img {
  filter: invert(1);
}

.imageText {
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}

.imageText > span {
  font-size: 40px;
}

.imageText > h1 {
  font-size: 50px;
  color: #f9be4d;
}

/** Building the courses list **/

.courses{
  font-size: 24px;
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  font-weight:500;
}


.course-list {
  display: flex;
  flex-wrap: wrap;
}

.course-list li {
  width: 30%;
  margin-right: 3%;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
}

.course-list li a {
  color: rgba(54, 57, 48, 1);
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.rtin-item {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 10px;
}

.rtin-item .rtin-img {
  min-width: 300px;
  height: 120px;
}

.rtin-item .rtin-overlay {
  margin: 0 auto;
  position: absolute;
  top: 0;
  /* -webkit-transform: translateY(-50%); */
  /* transform: translateY(-50%); */
  width: 100%;
  z-index: 5;
  height: 100%;
  background: rgb(0 0 0 / 61%);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.rtin-title {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  margin-top: 47px;
}

.rtin-item .rtin-overlay:hover {
  background: inherit;
}

.carousel-cell.is-selected {
  background-color: #f9be4d;
}

/* styling the testimonials section */
.testimonial-wrapper{
}


.testimonial-wrapper>h2{
  text-align:center;
  margin-bottom:20px;
  font-size:40px;

}


.carousel-thumb>img{
  height:150px;
  width:150px;
  border: 1px solid #000;
  padding:3px;
  border-radius:50%;
}

.carousel-cell.white{
  background-color:inherit;
  text-align: center;
}

/* displays a red arrow before the class element*/ 
.arrow:before{
  content: "⇛";
  color:red;
  margin-right: 5px;
  font-weight: bold;
  font-size: 24px;  
}

/* why us section */
.whyUs{
    justify-content: center;
    display: flex;
    column-gap: 62px;
    margin: 100px auto 100px auto;
    padding: 64px;
    background-color: #f9be4d;
/*    place-content: space-evenly;*/
}

.column-2 > img{
  width: 100%;
  max-width: 600px;
  border: 1px;
  border-radius: 30px;
  border-style: solid;
}

.column-1{
  max-width: 40vw;
  text-align: center;
  padding: 30px;
}

.column-1 > h2{
  font-size: 42px;
}

.column-1 > p{
  font-size: 22px;
  text-align: justify;
}

.whyUsBtn{
  margin: 10px 0px 10px 0px;
  font-size: large;
  background-color: #325633;
  width: 163px;
  border-style: solid;
  height: 50px;
  border-radius: 40px;
  color: white;
}

.whyUsBtn > a > img{
  filter: invert(1);
  height: 20px;
  margin-right: 8px;
}

.column-2{
  align-self: center;
}


/*make it responsive */
@media screen and (max-width: 1100px) {

  .whyUs{
    display: inline-block;
  }

  .column-1{
    max-width: initial;
  }

  .column-1 > h2{
    font-size: clamp(24px, 24px, 42px);
  }

  .column-2{
    text-align: center;
  }

}


@media screen and (max-width: 468px) {
  .whyUs{
    padding: 12px;
  }

  .column-1 > p{
    text-align: center;
  }
}

@media screen and (max-width: 510px) {

.objective > h1{
  display: none;
}

.courses{
  font-size: initial;
}

.whyUs{
  margin-bottom: inherit;
}

}  


/* CONTACT US SECTION */

/* google maps*/

.mapouter {
  position: relative;
  text-align: right;
  height: 400px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  max-width: 600px;
  height: 400px;
}
.gmap_iframe {
  width: 100% !important;
  height: 100% !important;
}

.contactUs{
  display: flex;
  place-content: space-evenly;
  background-color: #333;
  padding: 20px;
}

.locationMap{
  padding: 1.5rem;
}


input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus {
  border-color: #007bff;
}


input[type="submit"] {
  padding: 10px 20px;
  background-color: #325633;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #679b69;
}


.contactMessage{
  flex-direction: column !important;
  justify-content: space-between;
  display: flex;
}

.contactForm{
  place-self: center;
}

/* build the yt part */
.yt-padding{
  padding: 0 20px 0 20px;
}

.yt-padding.is-selected{
  background-color: initial;
}
  
.carousel-cell> iframe{
  border-radius: 40px !important;
}

.youtube{
  padding-bottom: 68px;
}

/*footer*/
.infoFooter{
  text-align: center;
  background-color: black;
  color: white;
  max-height: 68px;
  width: 100vw;
}

.infoPara{
  position: relative;
}


/* call us now*/

.call-us{
 
  font-size: -webkit-xxx-large;
  margin: 20px 8% 20px 8%;
  font-family: inherit;
  color: white;
}

.spanCall{
  color: #b0d236;
  font-weight: bolder;
}

.divCallUs{
  max-width: 620px;
  margin-top: 20px;
}

@media(max-width:786px){
  .contactForm{
    display: none;
  }
}

@media(max-width:468px){
  .contactUs{
    display: block;
  }
}